<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="containerm single">
      <h1><%= title %></h1>
      <p class="publish"><%= publish_date %></p>
      <span><%= content %></span>

    </div>
  </body>
</html>
